.ui-container {
  display: flex;
  min-width: fit-content;
  width: "100%";
  flex-direction: row;
  overflow-x: auto;
  padding: 5px;
}

.sub-container {
  display: flex;
  min-width: fit-content;
  width: "100%";
  flex-direction: row;
  padding: 5px;
  background-color: pink;
}

.year-box {
  padding: 5px;
}

.flex-box {
  flex: 1;
}

.flex-box + .flex-box {
  margin-left: 5px;
}
